name: f1_effect_radio
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  agora_rtc_engine: ^6.3.2
  permission_handler: ^11.3.1
  noise_meter: ^5.0.2
  audio_waveforms: ^2.0.1
  flutter_dotenv: ^5.0.2
  path_provider: ^2.0.15
  audioplayers: ^6.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/sounds/
    - .env
